html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

.grid_container{
  display:grid;
  height:100vh;
  width:100vw;
  grid-template-columns: 1fr .3fr;
  grid-template-rows: 1fr 0.8fr;
  grid-template-areas: 
  "main main"
  "footer footer";
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  }

  #linkedin{
    max-width: 8%;
    height: auto;
    padding-left: 15%;
    padding-top: 10%;
  }

  #twitch{
    max-width: 10%;
    height: auto;
    padding-left: 20%;
    padding-top: 10%;
  }

  #github{
    max-width: 10%;
    height: auto;
    padding-left: 20%;
    padding-top: 10%;
  }
  
  a{
    text-decoration: underline;
    color: #ffffff;
  }

  a:hover{
    text-decoration: none;
    animation-duration: 1s;
  }

  h1{
    color: #ffffff;
    padding-top: 2%;
    font-weight: 600;
  }

  main{
    background-image: url("./banner.jpg");
    background-repeat: no-repeat;
    grid-area: main;
    width: 100%; 
    text-align: center;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  footer{
    background: #ffffff;
    grid-area: footer;
    width: 100vw; 
  }

  :root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  footer {
    height: 25vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    padding: calc(var(--space) * 2);
    max-width: 700px;
  }
  
  .multi-button {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  
  .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }

  h1 span {
    
    margin: 11px 0 17px 0;
    color: #f1ebe5;
    letter-spacing: 0px;
  }

  p span {
    
    margin: 11px 0 17px 0;
    color: #f1ebe5;
    letter-spacing: 0px;
  }

/* Three columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 8px;
}

.container {
  border: 8 px;
  border-color: white;
  border-radius: 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border: medium;
  border-color: white;
  border-radius: 8px;
  border-top: medium;
  font-family: 'Josefin Sans', sans-serif;
}


/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: monospace;
}

.button:hover {
  background-color: #555;
}


  @media only screen and (max-width:550px){
    .container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 4fr 1fr;
      grid-template-areas: 
        "nav"
        "main"
        "footer"
    }
  }